<h1>Listing countries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Point</th>
	<th>Filename</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @countries.each do |country| %>
  <tr>
    <td><%= country.name %></td>
    <td><%= country.point %></td>
	<td><%= country.filename %></td>
    </td>
  </tr>
<% end %>
</table>

<br />


